/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
#ifdef THIRDTECH
#define ICON_FILE "nano_3rd.ico"
#else
#define ICON_FILE "nano_unc.ico"
#endif

NANO                     ICON    DISCARDABLE     ICON_FILE
GLUT_ICON                ICON                    ICON_FILE
tk                       ICON    DISCARDABLE     ICON_FILE
