/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
NANO                     ICON    DISCARDABLE     "NANO.ICO"
GLUT_ICON                ICON                    "NANO.ICO"
tk                       ICON    DISCARDABLE     "NANO.ICO"
